.skils h2 {
    color: #3b9e5a;
}

.skils ul {
    padding: 0;
}

.skils li {
    list-style: square;
    margin-bottom: 0.5rem;
    margin-left: 4vw;
}

.flex-wrapper {
    max-width: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}