.app {
  max-width: 75%;
  margin: 0 auto;

  font-family: Arial, sans-serif;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  color: #333;
}

.container {
  max-width: 100%;
  margin: 0 2%;
}

h2 {
  border-bottom: 2px solid #3b9e5a;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

@media(max-width:800px) {
  .app {
    max-width: 90%;

  }
}
